.carone-button {
	background-color: var(--main-color);
	padding: var(--s0);
    border-radius: var(--border-radius-md);
	color: white;
	text-decoration: none;
	transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
	display: inline-block;
	border: none;
	outline: none;
	cursor: pointer;
	text-align: center;
	min-height: 55px;
	box-shadow: 1px 0px 15px rgb(197, 197, 197);
}

.carone-button.submit{
	width: 50%;
	margin-top: var(--s1);
}

.carone-button.inverted{
	background-color: white;
	color: var(--main-color);
}

.carone-button.hover:hover {
	transform: scale(1.05);
}

.carone-button.darken:hover {
	filter: brightness(0.8);
}

.button-inverted {
	background-color: white;
	color: var(--main-color);
}
