.carone-header {
    position: relative;
    width: 100vw;
    display: grid;
    flex-shrink: 0;
    top: 0;
    z-index: 20;
}

.carone-header .carone-header__row {
    width: 100%;
    padding: 0 var(--md);
    white-space: nowrap;
    background-color: var(--main-color);
    color: var(--font-color-on-main-color);
    transition: background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.carone-header__content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--md);
    margin: 0 auto;
}

.carone-header .carone-header__title-container{
    display: grid;
    place-items: center;
    z-index: 80;
}

.carone-header .carone-header__title-container h1{
    font-family: var(--title-font);
    font-size: var(--large-font-size);
}

.carone-header .carone-header__navOpen {
    background-color: var(--main-color);
    color: white;
}

.carone-header .carone-header__menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carone-header__menu-item{
    list-style: none;
}

.carone-header .carone-header__menu-item-link {
    color: inherit;
    text-decoration: none;
    padding: var(--lg);
    white-space: nowrap;
    display: block;
    text-align: center;
    transition: color 0.2s;
}

.carone-header .carone-header__menu-item-link:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.carone-header .carone-header__toggle-button-container {
    display: none;
    place-items: center;
}

.carone-header .carone-header__toggle-button {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    cursor: pointer;
    display: grid;
    height: 100%;
    padding: var(--sm);
}

.nav-toggle {
    position: absolute !important;
    top: -100% !important;
}

/* RESPONSIVE */
.carone-header.carone-header__responsive .carone-header__toggle-button-container {
    display: grid;
    z-index: 80;
}

.carone-header.carone-header__responsive .carone-header__menu-items {
    display: flex;
    flex-direction: column;
}

.carone-header.carone-header__responsive .carone-header__menu-item-link {
    padding: var(--lg) var(--md);
}

.carone-header.carone-header__responsive .carone-header__navbar {
    background: var(--main-color);
    height: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .4s ease-in-out;
    width: 100%;
    z-index: 50;
}

.carone-header.carone-header__responsive .carone-header__navbar.carone-header__navOpen {
    transform: scale(1);
}