.carone-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.carone-page__content{
    margin: 0 auto;
    width: 100%;
    padding: var(--s0);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--s3);
}

.carone-section {
    display: flex;
    flex-direction: column;
    gap: var(--s1);
}

.carone-footer{
    padding: var(--s0);
}

.carone-section-title__container{
    display: flex;
    flex-direction: column;
    gap: var(--s0);
}

.carone-section-title h2{
	font-family: var(--title-font);
	font-size: var(--title-font-size);
}