.carone-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.carone-page__content{
    margin: 0 auto;
    width: 100%;
    padding: var(--md);
    display: flex;
    flex-direction: column;
    gap: var(--xxl);
}

.carone-section {
    display: flex;
    flex-direction: column;
    gap: var(--lg);
}

.carone-footer{
    padding: var(--md);
}

.carone-section-title__container{
    display: flex;
    flex-direction: column;
    gap: var(--md);
}

.carone-section-title h2{
	font-family: var(--title-font);
	font-size: var(--title-font-size);
}