.carone-page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.carone-page__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 10;
}

.carone-section {
    padding: var(--xl) var(--md);
    margin: 0 auto;
    width: 100%;
}

.carone-section__centered{
    text-align: center;
}

.carone-section__content{
    display: flex;
    flex-direction: column;
    gap: var(--lg);
    margin: 0 auto;
    width: 100%;
}

.carone-footer{
    padding: var(--md);
}

.carone-section-title__container{
    display: flex;
    flex-direction: column;
    gap: var(--md);
}

.carone-section-title h2{
	font-family: var(--title-font);
	font-size: var(--title-font-size);
}

.carone-page__with-sidebar{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    color: var(--main-color);
    text-align: center;
}