.carone-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: var(--main-color);
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    color: var(--font-color-on-main-color);
    z-index: 100;
}

.carone-sidebar.carone-sidebar__visible {
    transform: translateX(0);
}

.carone-sidebar__header {
    display: flex;
    align-items: center;
    padding: var(--md);
}

.toggle-button {
    background: none;
    cursor: pointer;
    font-size: var(--large-font-size);
    margin-right: var(--md);
    color: var(--font-color-on-main-color);
}

.sidebar-content {
    padding: var(--md);
}